.post {
    background-color: #333336;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-areas:
    "avatar name"
    "avatar date"
    "text text"
    "pic pic"
    "like like";
    grid-template-rows: 25px 15px auto auto 20px;
    grid-template-columns: 40px 1fr;
    grid-gap: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-area: avatar;
}

.name {
    color: white;
    font-size: 17px;
    grid-area: name;
}

.date {
    color: gray;
    font-size: 13px;
    grid-area: date;
}

.text {
    grid-area: text;
}

.picture {
    grid-area: picture;
}

.like {
    grid-area: like;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-family: Roboto, serif;
    font-size: 13px;
    place-self: end;
    gap: 5px;
}

.like img {
    width: 15px;
    height: 13px;
}

