.users {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #222226;
}

.paginator {
    height: 50px;
    background-color: #333336;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}