.users {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #222226;
}

.selection {
    border-radius: 10px 10px 0 0;
    background-color: #333336;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.selection_area {
    cursor: pointer;
    height: 100%;
    color: #777;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.selection_area:hover {
    border-bottom: gray 2px solid;
}

.selection_area_selected {
    border-bottom: white 2px solid;
}

.selection_area_selected .selection_name {
    color: white;
}

.selection_area_selected .selection_text {
    top: 1px;
}

.selection_area:hover .selection_text {
    top: 1px;
}

.selection_text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.selection_name {
    font-weight: 400;
    color: #777;
    font-size: 17px;
}

.selection_count {
    color: #777;
    font-size: 15px;
}

.body {
    border-radius: 0 0 10px 10px;
    background-color: #333336;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.search_wrapper {
    display: flex;
    flex-direction: row;
}

.search_input {
    background-color: transparent;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: #444 1px solid;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.search_btn {
    background-color: #444444;
    width: 60px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search_btn img {
    width: 15px;
}

.users_list {
    display: flex;
    flex-direction: column;
}

.user {
    display: grid;
    grid-template-areas:
    "avatar name location"
    "avatar status location";
    grid-template-rows: 20px 20px;
    grid-template-columns: 50px 5fr 1fr;
    border-bottom: #777777 1px solid;
    padding: 10px;
    grid-gap: 10px;
}

.user:hover {
    background-color: rgba(255, 255, 255, 5%);
}

.user_avatar {
    grid-area: avatar;
}

.user_name {
    grid-area: name;
}

.user_status {
    grid-area: status;
}

.user_location {
    grid-area: location;
    display: flex;
    flex-direction: column;
    gap: 5px;
}