.dialog {
    display: grid;
    grid-template-areas:
    "avatar name"
    "avatar text";
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    padding: 10px 15px 10px 15px;
    border-bottom: #444444 thin solid;
    cursor: pointer;
}

.dialog:hover {
    background-color: #444444;
}

.avatar {
    width: 45px;
    height: 45px;
    grid-area: avatar;
    border-radius: 50%;
}

.name {
    grid-area: name;
    color: white;
    font-weight: normal;
    font-size: 17px;
}

.text {
    grid-area: text;
    color: lightgray;
    font-size: 15px;
}