.search_block {
    grid-area: search;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 30px;
    background-color: #333336;
    border-top-left-radius: 10px;
    gap: 5px;
}

.search_block img {
    width: 15px;
}

.search_area {
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 14px;
    outline: none;
    color: lightgray;
    width: 100%;
}