.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    color: gray;
    text-decoration: none;
}

.element:hover {
    background-color: #333336;
}

.nav_img {
    width: 20px;
}