.new_post {
    display: flex;
    flex-direction: column;
    background-color: #444444;
    border-radius: 10px;
    padding: 10px;
}

.input_field {
    background-color: transparent;
    height: 20px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
}

.input_field:focus {
    height: 60px;
}

.input_field:focus + .send_post {
    display: block;
}

.send_post {
    background-color: #666;
    align-self: end;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
    display: none;
}

.send_post:hover {
    opacity: 80%;
}