.chat {
    grid-area: chat;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-areas:
    "header"
    "body"
    "input";
    grid-template-rows: 50px auto 60px;
    gap: 1px;
}