.post {
    background-color: #333336;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
}

.who_when {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name {
    color: white;
    font-size: 17px;
}

.date {
    color: gray;
    font-size: 13px;
}

.picture {

}

