* {
    color: white;
}

.background-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-rows: 50px 1fr;
    background-color: #222226;
    grid-gap: 10px;
}

::-webkit-scrollbar {
    background-color: #444444;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

.app-wrapper {
    background-color: #222226;
    display: grid;
    grid-template-areas:
    "nav content";
    grid-template-columns: 2fr 10fr;
    grid-area: app-wrapper;
    color: lightgray;
    font-family: Roboto, serif;
    font-weight: 300;
    font-size: 20px;
    margin: 75px 0 15px 0;
    width: 1100px;
    height: 100%;
    grid-gap: 10px;
}

#right_part_name {
    color: #2d8661;
    font-weight: bold;
}