.background-page {
    background-color: #222226;
}

.app-wrapper {
    background-color: #222226;
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
    color: lightgray;
    font-family: Corbel, serif;
    font-size: 20px;
    margin: 0 auto;
    width: 1200px;
}

.input_field {
    background-color: #333333;
    height: 60px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.submit_button {
    background-color: lightgray;
    margin-top: 5px;
    align-self: end;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    border: none;
    cursor: pointer;
}

.submit_button:hover {
    background-color: darkgray;
}

#right_part_name {
    color: #2d8661;
    font-weight: bold;
}