.background-page {
    background-color: #222226;
}

.app-wrapper {
    background-color: #222226;
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
    color: lightgray;
    font-family: Corbel, serif;
    font-size: 20px;
    margin: 0 auto;
    width: 1200px;
}
